<form>
<div style="margin-left: 15px; margin-top: 10px;">
  <h4>Lista de usuarios no sistema</h4>
  <br>
  <button type="button" class="btn btn-outline-danger" [routerLink]="['/cadastro']" routerLinkActive="router-link-active" >Cadastrar novo usuario</button>
</div>
<br>
<table class="table table-hover table-bordered mt-04" style="margin-left: 15px; margin-right: 15px;">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Sexo</th>
      <th>Idade</th>
    </tr>
  </thead>

  <tbody>

    @if(usuarios.length > 0){
      @for (usuario of usuarios; track $index) {
        <tr>
          <td>{{usuario.idusuario}}</td>
          <td>{{usuario.nome}}</td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.sexo}}</td>
          <td>{{usuario.idade}}</td>
          <td>
            <button class="btn btn-outline-warning mx-2" [routerLink]="['/editar', usuario.idusuario]">Editar</button>
            <button class="btn btn-outline-danger mx-2" (click)="deletar(usuario.idusuario)">Excluir</button>
          </td>
        </tr>
      }

    }
  </tbody>
</table>

</form>

